:root {
    --font-family-title: 'Bitter', 'Times New Roman', Times, serif;
    --font-weight-bld: 600;
}

* {
    margin: 0;
    font-family: ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    overflow: hidden;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: all 0.3s ease-in-out;
    &:focus,
    &:outline,
    &::-moz-focus-outer {
        outline: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bld);
}
img,
picture,
svg,
video {
    max-width: 100%;
    object-fit: contain;
}
button,
input,
a,
textarea {
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    &:hover {
        outline: 0;
        cursor: pointer;
    }
}
a,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

#root {
    height: 100%;
}
